
@{
    ViewBag.Title = "Товары";
}

<div id="viewdiv">

</div>

<div id="pagination" class=" btn-group pull-right">
    @*@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))*@
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/GameJs/GameController.js"></script>